<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Recepción Equipos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link th:href="@{/css/estilos.css}" rel="stylesheet">
</head>

<body>

    <!-- Header -->
    <div th:insert="~{usuario/templateUsuario.html::header}" th:if="${sesion==null}"></div>

    <!-- Main -->
    <main>

        <div class="bloqueado">
            <h1>Usuario Bloqueado</h1>
        </div>
        
    </main>


    <!-- Footer -->
    <div th:insert="~{usuario/templateUsuario.html::footer}"></div>
</body>

</html>