<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Recepción Equipos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link th:href="@{/css/estilos.css}" rel="stylesheet">
</head>

<body>
    <!-- Header -->
    <div th:insert="~{usuario/templateUsuario.html::header-user}" th:unless="${sesion==null}"></div>

    <!-- Main -->
    <main>
        <div class="contenedor-exito">
            <div th:if="${exito}" class="alerta-exito" th:text="${exito}"></div>
        </div>

        <div class="contenedor-seccion">
            <div class="seccion-img">
                <img src="imagenes/bienvenido.jpg" alt="">
            </div>
            <div class="seccion-texto">
                <h1>Ya sos parte de Recepción de Equipos.</h1>
                <br>
                <h3>¡Por favor solicita al Administrador que te asigne tu Rol correspondiente!</h3>
                <br>
                <h3>Mientras podes actualizar tu perfil.</h3>
            </div>
        </div>

        <br>


    </main>


    <!-- Footer -->
    <div th:insert="~{usuario/templateUsuario.html::footer-user}"></div>
</body>

</html>