<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link th:href="@{/css/estilos.css}" rel="stylesheet">
</head>

<body>

    <!-- Header -->
    <div th:insert="~{usuario/templateUsuario.html::header}" th:if="${sesion==null}"></div>

    <main>
        <div class="contenedor-formulario">

            <h1 class="mrt-30">Iniciar Sesión</h1>

            <div class="contenedor-img-iniciarSesion">
                <img class="img-iniciarSesion" th:src="@{/imagenes/iniciarSesion.png}" alt="login">
            </div>



            <form class="formulario mrt-30" th:action="@{/usuario/acceder}" method="post">
                
                <div class="contenedor-tarjeta">
                    <label for="email" class="lab-iniciar-sesion"> Email: </label>
                    <div class="tarjeta">
                        <input type="email" class="inp-iniciar-sesion" id="email" name="email"
                            placeholder="Ingrese su email" required autocomplete="off">
                    </div>
                </div>

                <div class="contenedor-tarjeta">
                    <label for="contrasena" class="lab-iniciar-sesion"> Contraseña:</label>
                    <div class="tarjeta">
                        <input type="contrasena" class="inp-iniciar-sesion" id="contrasena" name="password"
                            placeholder="Ingrese su contraseña" required>
                    </div>
                </div>

                <div class="contenedor-boton mrt-30">
                    <button type="submit" class="boton"> <span class="glyphicon glyphicon-ok"></span>
                        Ingresar</button>
                </div>

            </form>

            <div class="mrt-30">
                <a class="black" th:href="@{/email/recuperarContrasena}">¿Olvidaste la contraseña?</a>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <div class="mrt-30" th:insert="~{usuario/templateUsuario.html::footer}"></div>

</body>

</html>