<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Recepción Equipos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link th:href="@{/css/estilos.css}" rel="stylesheet">
</head>

<body>

    <!-- Header -->
    <div th:insert="~{usuario/templateUsuario.html::header}" th:if="${sesion==null}"></div>

    <main>
        <div class="contenedor-formulario">

            <h1 class="mrt-30">Iniciar Sesión</h1>

            <div class="contenedor-img-iniciarSesion">
                <img class="img-iniciarSesion" th:src="@{/imagenes/iniciarSesion.png}" alt="login">
            </div>

            <form class="formulario-inicio-sesion mrt-30" th:action="@{/usuario/acceder}" method="post">

                <!-- Grupo: Correo Electronico -->
                <div class="formulario-grupo" id="grupo-correo">
                    <label for="email" class="formulario-label">Correo Electrónico</label>
                    <div class="formulario-grupo-input">
                        <input type="email" class="formulario-input" name="email" id="correo"
                            placeholder="correo@correo.com" required autocomplete="off">
                    </div>
                </div>

                <!-- Grupo: Contraseña -->
                <div class="formulario-grupo" id="grupo-password">
                    <label for="contrasena" class="formulario-label">Contraseña</label>
                    <div class="formulario-grupo-input">
                        <input type="password" class="formulario-input" name="contrasena" id="password" required
                            autocomplete="off">
                    </div>
                </div>

                <div class="contenedor-boton formulario-grupo mrt-30">
                    <button type="submit" class="formulario-btn">Ingresar</button>
                </div>

                <div class="contenedor-boton mrt-30">
                    <a class="black" th:href="@{/email/recuperarContrasena}">¿Olvidaste la contraseña?</a>
                </div>
            </form>
        </div>
    </main>

    <!-- Footer -->
    <div class="mrt-30" th:insert="~{usuario/templateUsuario.html::footer}"></div>

</body>

</html>