<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Recepción Equipos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link th:href="@{/css/estilos.css}" rel="stylesheet">
</head>

<body>

    <!-- Header -->
    <!-- <div th:insert="~{recepcion/templateRecepcion.html::header-recepcion}" th:unless="${sesion==null}"></div> -->

    <!-- Main -->
    <main>

        <br>
        <!-- <h1 class="centrado">Home Recepción</h1> -->

        <div class="contenedor-dashboard">
            <div class="izquierda">
                <img class="" style="width: 100%; height: 100%; object-fit: cover;" th:src="@{/imagenes/logo.png}"
                    alt="logo">
            </div>
            <div class="centro">
                <h1>Recepción</h1>
                <h3 th:text="'Bienvenido, ' + ${usuario.nombre + ' ' + usuario.apellido}"></h3>
                <!-- <h6>Buscador...</h6> -->
            </div>
            <div class="derecha" style="border: solid 1px;">
                <h6 class="center">Lunes</h6>
                <h3 class="center">31</h3>
                <h6 class="center">Febrero</h6>
                <h3 class="center">2025</h3>
            </div>
        </div>
        <div class="contenedor-exito">
            <div th:if="${exito}" class="alerta-exito" th:text="${exito}"></div>
        </div>
        <div class="contenedor-error">
            <div th:if="${error}" class="alerta-error" th:text="${error}"></div>
        </div>
        <div class="contenedor-dashboard">
            <div class="izquierda">
                <!-- <div class="menu-header">
                    <a class="link-a" th:href="@{/recepcion/altaCliente}"><img class="icono-header"
                            th:src="@{/iconos/agregar-usuario.png}" alt="agregar-usuario">
                        <p>Alta</p>
                    </a>
                    <a class="link-a" th:href="@{/recepcion/clientes}"><img class="icono-header"
                            th:src="@{/iconos/grupo5.png}" alt="clientes-blanco">
                        <p>Clientes</p>
                    </a>
                    <a class="link-a" th:href="@{/equipo/equipos}"><img class="icono-header"
                            th:src="@{/iconos/equipos.png}" alt="equipos">
                        <p>Equipos</p>
                    </a>
                    <a class="link-a" th:href="@{/orden/ordenes}"><img class="icono-header"
                            th:src="@{/iconos/reparaciones.png}" alt="reparacion">
                        <p>Ordenes</p>
                    </a>
                    <a class="card border" th:href="@{/orden/ordenes}">
                        <img class="icono-header" src="/iconos/reparaciones-negro.png" alt="reparaciones-negro">
                        <h6 class="center black">Ordenes</h6>
                    </a>
                </div> -->

                <ul class="dropdown-menu card border">

                    <li class="center">
                        <div class="card border mrt-5 w90 center">
                            <a class="black dos-columnas-menu" th:href="@{/recepcion/altaCliente}">
                                <div class="center">
                                    <img class="w20" th:src="@{/iconos/sobre-nosotros-negro.png}" alt="usuario">
                                </div>
                                <div class="mrt-10">
                                    <p class="tf-14">Alta</p>
                                </div>
                            </a>
                        </div>
                    </li>

                    <li class="center">
                        <div class="card border mrt-5 w90 center">
                            <a class="black dos-columnas-menu" th:href="@{/recepcion/clientes}">
                                <div class="center">
                                    <img class="w20" th:src="@{/iconos/sobre-nosotros-negro.png}" alt="usuario">
                                </div>
                                <div class="mrt-10">
                                    <p class="tf-14">Clientes</p>
                                </div>
                            </a>
                        </div>
                    </li>

                    <li class="center">
                        <div class="card border mrt-5 w90 center">
                            <a class="black dos-columnas-menu" th:href="@{/equipo/equipos}">
                                <div class="center">
                                    <img class="w20" th:src="@{/iconos/sobre-nosotros-negro.png}" alt="usuario">
                                </div>
                                <div class="mrt-10">
                                    <p class="tf-14">Equipos</p>
                                </div>
                            </a>
                        </div>
                    </li>

                    <li class="center">
                        <div class="card border mrt-5 w90 center">
                            <a class="black dos-columnas-menu" th:href="@{/orden/ordenes}">
                                <div class="center">
                                    <img class="w20" th:src="@{/iconos/sobre-nosotros-negro.png}" alt="usuario">
                                </div>
                                <div class="mrt-10">
                                    <p class="tf-14">Ordenes</p>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="centro">

                <div class="spac-around">
                    <div class="contenedor-tarjeta-estirada">
                        <div class="card border">
                            <div class="card border mr15">
                                <br>
                                <h3 class="center">Clientes Registrados</h3>
                                <h1 class="center">74</h1>
                            </div>
                        </div>
                    </div>

                    <div class="contenedor-tarjeta-estirada">
                        <div class="card border">
                            <div class="card border mr15">
                                <br>
                                <h3 class="center">Ordenes Pendientes</h3>
                                <h1 class="center">8</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="spac-around">
                    <div class="contenedor-tarjeta-estirada">
                        <div class="card border">
                            <div class="card border mr15">
                                <br>
                                <h3 class="center">Ordenes x Avisar</h3>
                                <h1 class="center">3</h1>
                            </div>
                        </div>
                    </div>
                    <div class="contenedor-tarjeta-estirada">
                        <div class="card border">
                            <div class="card border mr15">
                                <br>
                                <h3 class="center">Ordenes en Curso</h3>
                                <h1 class="center">1</h1>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="derecha" style="border: solid 1px">
                <h1>derecha</h1>
            </div>
        </div>
        <div class="contenedor-formulario mrt-30">
            <div class="formulario">
                <!-- Grupo: Alta Cliente -->
                <div class="contenedor-tarjeta">
                    <div class="card border mr30">
                        <a th:href="@{/recepcion/altaCliente}">
                            <div class="card border mr15">
                                <img class="img-card mr30" src="/iconos/agregar-cliente.png" alt="agregar-usuario">
                                <h5 class="center black">Alta Cliente</h5>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Grupo: Clientes -->
                <div class="contenedor-tarjeta">
                    <div class="card border mr30">
                        <a th:href="@{/recepcion/clientes}">
                            <div class="card border mr15">
                                <img class="img-card mr30" src="/iconos/grupo5-negro.png" alt="grupo5-negro">
                                <h4 class="center black">Clientes</h4>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Grupo: Equipos -->
                <div class="contenedor-tarjeta">
                    <div class="card border mr30">
                        <a th:href="@{/equipo/equipos}">
                            <div class="card border mr15">
                                <img class="img-card mr30" src="/iconos/equipos-negro.png" alt="equipos-negro">
                                <h4 class="center black">Equipos</h4>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Grupo: Ordenes -->
                <div class="contenedor-tarjeta">
                    <div class="card border mr30">
                        <a th:href="@{/orden/ordenes}">
                            <div class="card border mr15">
                                <img class="img-card mr30" src="/iconos/reparaciones-negro.png"
                                    alt="reparaciones-negro">
                                <h4 class="center black">Ordenes</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <br>
            </div>
        </div>

    </main>
    <br><br>

    <!-- Footer -->
    <div th:insert="~{recepcion/templateRecepcion.html::footer-recepcion}"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>