* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: #0d47a1;
    color: lavender;
    font-family: "Krona One", serif;
}


/* Estilos del header */

.contenedor-header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(37, 37, 91);
}

.logo-header {
    display: flex;
    flex-wrap: wrap;
    width: 25%;
}

.img-logo-header {
    width: 75px;
    height: 75px;
}

.menu-header {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    justify-content: right;
}

.menu-header a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100px;
    color: #fff;
    text-decoration: none;
}

.icono-header {
    width: 45px;
    height: 45px;
    margin: 10px;
}

/* Estilos Main */

.banner {
    display: flex;
    flex-wrap: wrap;
}

.banner img {
    width: 100%;
    height: 10%;
}

.contenedor-seccion {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px;
    justify-content: center;
}

.seccion-img {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    padding: 15px;
}

.seccion-img img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px;
    max-width: 400px;
    max-height: 400px;

}

.seccion-texto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 50%;
    max-width: 400px;
    max-height: 400px;
}

.seccion-texto p {
    text-align: justify;
}



/* Estilos Footer */

.contenedor-footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(37, 37, 91);
}

.logo-footer {
    display: flex;
    flex-wrap: wrap;
    width: 25%;
}

.img-logo-footer {
    width: 75px;
    height: 75px;
}

.texto-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


/* Estilos Iniciar Sesión */

.formulario-inicio-sesion {
    display: grid;
    grid-template-columns: 1fr;
}

.contenedor-formulario {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.contenedor-img-iniciarSesion {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.img-iniciarSesion {
    display: flex;
    width: 250px;
    height: 250px;
}

.contenedor-boton {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.boton {
    color: rgb(255, 255, 255);
    background-color: #201e1e;
    width: 120px;
    height: 45px;
    border-radius: 5px;
}

.contenedor-error {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 0px;
    justify-content: center;
    align-items: center;
}

.alerta-error {
    display: flex;
    width: 250px;
    height: 50px;
    background-color: #f73535d6;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}

.contenedor-exito {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 0px;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.alerta-exito {
    display: flex;
    width: 250px;
    height: 50px;
    background-color: #13ad13d6;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    animation: desaparecer 10s forwards;
}

@keyframes desaparecer {
    0% {
        opacity: 1;
    }

    100% {
        display: none;
        /* Oculta el elemento completamente */
    }
}


/* Estilos Generales */

.mrt-30 {
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: #fff;
}

.w-150 {
    width: 150px;
}

.w-20 {
    width: 20px;
}

.w-100 {
    width: 100%;
}

.w-90 {
    width: 90%;
}

.w-30 {
    width: 30%;
}

.w-70 {
    width: 70%;
}

/* Estilos Registro */

.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.formulario-label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.formulario-grupo-input {
    position: relative;
}

.formulario-input {
    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.formulario-input:focus {
    border: 3px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario-input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario-input-error-activo {
    display: block;
}

.formulario-validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario-checkbox {
    margin-right: 10px;
}

.formulario-grupo-terminos,
.formulario-mensaje,
.formulario-grupo-btn-enviar {
    grid-column: span 2;
}

.formulario-mensaje {
    height: 45px;
    line-height: 45px;
    background: #F66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario-mensaje-activo {
    display: block;
}

.formulario-mensaje p {
    margin: 0;
}

.formulario-grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario-btn {
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #000;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
}

.formulario-btn:hover {
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}

.formulario-mensaje-exito {
    font-size: 14px;
    color: #119200;
    display: none;
}

.formulario-mensaje-exito-activo {
    display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario-grupo-correcto .formulario-validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario-grupo-incorrecto .formulario-label {
    color: #bb2929;
}

.formulario-grupo-incorrecto .formulario-validacion-estado {
    color: #bb2929;
    opacity: 1;
}

.formulario-grupo-incorrecto .formulario-input {
    border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
    .formulario {
        grid-template-columns: 1fr;
    }

    .formulario-grupo-terminos,
    .formulario-mensaje,
    .formulario-grupo-btn-enviar {
        grid-column: 1;
    }

    .formulario-btn {
        width: 100%;
    }
}

/* Estilos UserSession */

.usersession {
    display: flex;
    flex-wrap: wrap;
    margin-right: 25px;
    color: white;
}

.usersession img {
    width: 45px;
    height: 45px;
    margin-top: 15px;
    border-radius: 50%;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
}

.usersession a {
    text-decoration: none;
    text-align: center;
    color: black;
}

.border {
    border: solid 2px;
    filter: drop-shadow(2px 2px 3px #c6c3c3);
}

.border:hover {
    filter: drop-shadow(3px 5px 7px #c6c3c3);
}

.w220 {
    width: 280px;
}

.mr30 {
    margin-right: 30px;
}

.mrt-10 {
    margin-top: 10px;
}

.mrt-70 {
    margin-top: 70px;
}

.mrt-5 {
    margin-top: 5px;
}

.mrb-10 {
    margin-bottom: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.pad-10 {
    padding: 10%;
}

.w70 {
    width: 70px;
}

.width-ico {
    width: 25px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.justify {
    text-align: justify;
}

.text-indent {
    text-indent: 30px;
}

.w100 {
    width: 100%;
}

.w150 {
    width: 150px;
}

.w25 {
    width: 25px;
}

.w90 {
    width: 90%;
}

.w95 {
    width: 95%;
}

.w20 {
    width: 20px;
}

.h100 {
    height: 100%;
}

.h90 {
    height: 90%;
}

.h-150 {
    height: 150px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-30 {
    margin-right: 30px;
}

.mrb-30 {
    margin-bottom: 30px;
}

.mrl15 {
    margin-left: 15px;
}

.mr-20 {
    margin: 20px;
}

.oculto {
    display: none;
}

.white {
    color: white;
}

.dropdown ul li a {
    text-align: left;
}

.dropdown ul li a img {
    width: 20px;
    height: 20px;
}

.user-name {
    color: white;
    width: 70px;
    text-align: center;
    margin-bottom: 1px;
}

.contenedor-user-name {
    background-color: rgb(57, 57, 57);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 50px;
    justify-items: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.dos-columnas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.black {
    color: #000;
}

/* Enlace Estirado */

.cont-enlace-estirado {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    justify-content: center;
    align-items: center;
}

.enlace-estirado {
    display: grid;
    grid-template-columns: 25% 75%;
    width: 80vw;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.card-foto {
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.card-foto img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 30px;
}

.dos-columnas {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.titulo {
    font-family: 'Arial Narrow Bold', sans-serif;
}

.interlineado {
    line-height: 0.2;
}

.card-contenido {
    display: inline-block;
    justify-content: left;
    align-items: left;
}

