* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: #0d47a1;
    color: lavender;
    font-family: "Krona One", serif;
}


/* Estilos del header */

.contenedor-header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(37, 37, 91);
}

.logo-header {
    display: flex;
    flex-wrap: wrap;
    width: 25%;
}

.img-logo-header {
    width: 75px;
    height: 75px;
}

.menu-header {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    justify-content: right;
}

.menu-header a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100px;
    color: #fff;
    text-decoration: none;
}

.icono-header {
    width: 45px;
    height: 45px;
    margin: 10px;
}

/* Estilos Main */

.banner {
    display: flex;
    flex-wrap: wrap;
}

.banner img {
    width: 100%;
    height: 10%;
}

.contenedor-seccion {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px;
    justify-content: center;
}

.seccion-img {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    padding: 15px;
}

.seccion-img img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px;
    max-width: 400px;
    max-height: 400px;

}

.seccion-texto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 50%;
    max-width: 400px;
    max-height: 400px;
}

.seccion-texto p {
    text-align: justify;
}



/* Estilos Footer */

.contenedor-footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(37, 37, 91);
}

.logo-footer {
    display: flex;
    flex-wrap: wrap;
    width: 25%;
}

.img-logo-footer {
    width: 75px;
    height: 75px;
}

.texto-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


/* Estilos Iniciar Sesión */

.contenedor-formulario {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.formulario {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.contenedor-img-iniciarSesion {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.img-iniciarSesion {
    display: flex;
    width: 250px;
    height: 250px;
}

.contenedor-tarjeta {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px #f4f4f4;
}

.tarjeta {
    display: flex;
    justify-content: center;
    color: black;
    width: 100%;
    margin-top: 15px;
    box-shadow: 0 10px 10px #a3a4a3;
    height: 45px;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.inp {
    margin-left: 15px;
    width: 300px;
    height: 30px;
}

.lab {
    align-items: center;
    font-size: 20px;
    
}


/* Estilos Generales */

.mrt-30 {
    margin-top: 30px;
}



.w-150 {
    width: 150px;
}