<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Recepción Equipos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link th:href="@{/css/estilos.css}" rel="stylesheet">
</head>

<body>

    <!-- Header -->
    <div th:insert="~{recepcion/templateRecepcion.html::header-recepcion}" th:unless="${sesion==null}"></div>


    <!-- Main -->
    <main>
        <div class="contenedor-exito">
            <div th:if="${exito}" class="alerta-exito" th:text="${exito}"></div>
        </div>

        <h1 class="center mrt-30">Alta Orden de Reparación</h1>

        <div class="contenedor-formulario">

            <form id="formulario" th:action="@{/orden/guardarOrden}" method="post" enctype="multipart/form-data">
                <!-- Obtenemos el ID del cliente -->
                <input type="hidden" name="clienteId" th:value="${clienteId}">
                <input type="hidden" name="equipoId" th:value="${equipoId}">
                <!-- Obtenemos el token -->
                <input type="hidden" name="token" th:value="${token}"/>

                <div class="formulario mrt-10">
                    <!-- Grupo: Falla Cliente-->
                    <div class="formulario-grupo" id="grupo-nombre">
                        <label for="fallaCliente" class="formulario-label">Falla</label>
                        <div class="formulario-grupo-input">
                            <input type="text" class="formulario-input" name="fallaCliente" id="fallaCliente"
                                placeholder="Falla" required>
                        </div>
                    </div>

                    <!-- Grupo: Prioridad -->
                    <div class="formulario-grupo" id="grupo-nombre">
                        <label for="prioridad" class="formulario-label">Prioridad</label>
                        <div class="formulario-grupo-input">
                            <select name="prioridad" id="prioridad">
                                <option value="NORMAL">NORMAL</option>
                                <option value="ALTA">ALTA</option>
                                <option value="BAJA">BAJA</option>
                            </select>
                        </div>
                    </div>

                    <!-- Grupo: Aviso Cliente -->
                    <div class="formulario-grupo" id="grupo-nombre">
                        <label for="avisoCliente" class="formulario-label">Aviso Cliente</label>
                        <div class="formulario-grupo-input">
                            <select name="avisoCliente" id="avisoCliente">
                                <option value="NO">NO</option>
                                <option value="SI">SI</option>
                            </select>
                        </div>
                    </div>

                    <!-- Grupo: Medio de Aviso -->
                    <div class="formulario-grupo" id="grupo-nombre">
                        <label for="medioAviso" class="formulario-label">Medio de Aviso</label>
                        <div class="formulario-grupo-input">
                            <select name="medioAviso" id="medioAviso">
                                <option value="TELEFONO">TELEFONO</option>
                                <option value="E-MAIL">E-MAIL</option>
                                <option value="WHATSAPP">WHATSAPP</option>
                            </select>
                        </div>
                    </div>

                    <!-- Grupo: Falla Técnico -->
                    <div class="formulario-grupo" id="grupo-nombre">
                        <label for="fallaTecnico" class="formulario-label">Falla Encontrada</label>
                        <div class="formulario-grupo-input">
                            <input type="text" class="formulario-input" name="fallaTecnico" id="fallaTecnico"
                                placeholder="Falla Encontrada">
                        </div>
                    </div>

                    <div class="col-sm-12 center mrt-30">
                        <a class="btn btn-secondary mr-30" th:href="@{/recepcion/clientes}"><img class="w25"
                                th:src="@{/iconos/cancelar.png}" alt="cancelar"> Cancelar</a>
                        <button type="submit" class="btn btn-dark ml10"><img class="w25" th:src="@{/iconos/guardar.png}"
                                alt="guardar"> Guardar Cambios</button>
                    </div>
            </form>

        </div>
    </main>

    <!-- Footer -->
    <div class="mrt-30" th:insert="~{recepcion/templateRecepcion.html::footer-recepcion}"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>