<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Recepción Equipos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">



    <link th:href="@{/css/estilos.css}" rel="stylesheet">
</head>

<body>

    <!-- Header -->
    <div th:insert="~{recepcion/templateRecepcion.html::header-recepcion}" th:unless="${sesion==null}"></div>

    <!-- Main -->
    <main>
        <div class="contenedor-exito">
            <div th:if="${exito}" class="alerta-exito" th:text="${exito}"></div>
        </div>
        <div class="contenedor-error">
            <div th:if="${error}" class="alerta-error" th:text="${error}"></div>
        </div>

        <h1 class="center mrt-30">Editar Orden</h1>

        <div class="contenedor-formulario">

            <form id="formulario" th:action="@{/orden/actualizarOrden}" method="post" th:each="orden:${ordenes}">
                <!-- Obtenemos los datos del equipo -->
                <input type="hidden" name="ordenId" th:value="${ordenId}">
                <!-- Obtenemos el token -->
                <input type="hidden" name="editTokenOrden" th:value="${editTokenOrden}" />

                <!-- Grupo: Perfil -->
                <div class="card border mrt-10 center">
                    <div class="card w90 mrt-30 mrb-30">
                        <div class="contenedor-user-name white">
                            <h4 class="center" th:text="${orden.equipo.tipoEquipo}">
                            </h4>
                        </div>

                        <div class="center mrt-30 w100 center">
                            <div class="contenedor-img">
                                <img class="circle" th:src="@{/images/{img} (img=${orden.equipo.imagenEquipo})}"
                                    alt="foto">
                            </div>
                        </div>

                        <h2 class="center mrt-10" th:text="${orden.equipo.marca +' '+ orden.equipo.modelo}"></h2>
                    </div>
                </div>

                <div class="formulario mrt-10">

                    <!-- Grupo: Falla Cliente -->
                    <div class="formulario-grupo" id="grupo-nombre">
                        <label for="fallaCliente" class="formulario-label">Falla Cliente</label>
                        <div class="formulario-grupo-input">
                            <input type="text" class="formulario-input border" id="fallaCliente" name="fallaCliente"
                                required placeholder="Falla descripta por el Cliente" autocomplete="off"
                                th:value="${orden.fallaCliente}">
                        </div>
                    </div>

                    <!-- Grupo: Prioridad -->
                    <div class="formulario-grupo" id="grupo-nombre">
                        <label for="prioridad" class="formulario-label">Prioridad</label>
                        <div class="formulario-grupo-input">
                            <select name="prioridad" id="prioridad">
                                <option th:value="${orden.prioridad}" th:text="${orden.prioridad}"></option>
                                <option value="NORMAL">NORMAL</option>
                                <option value="ALTA">ALTA</option>
                                <option value="BAJA">BAJA</option>
                            </select>
                        </div>
                    </div>

                    <!-- Grupo: Aviso Cliente -->
                    <div class="formulario-grupo" id="grupo-nombre">
                        <label for="modelo" class="formulario-label">Aviso Cliente</label>
                        <div class="formulario-grupo-input">
                            <select name="avisoCliente" id="avisoCliente">
                                <option th:value="${orden.avisoCliente}" th:text="${orden.avisoCliente}"></option>
                                <option value="NO">NO</option>
                                <option value="SI">SI</option>
                            </select>
                        </div>
                    </div>

                    <!-- Grupo: Medio de Aviso -->
                    <div class="formulario-grupo" id="grupo-nombre">
                        <label for="clave" class="formulario-label">Medio de Aviso</label>
                        <div class="formulario-grupo-input">
                            <select name="medioAviso" id="medioAviso">
                                <option th:value="${orden.medioAviso}" th:text="${orden.medioAviso}"></option>
                                <option value="TELEFONO">TELEFONO</option>
                                <option value="E-MAIL">E-MAIL</option>
                                <option value="WHATSAPP">WHATSAPP</option>
                            </select>
                        </div>
                    </div>

                    <!-- Grupo: Falla Técnico -->
                    <div class="formulario-grupo" id="grupo-nombre">
                        <label for="fallaTecnico" class="formulario-label">Falla Encontrada</label>
                        <div class="formulario-grupo-input">
                            <input type="text" class="formulario-input border" id="fallaTecnico" name="fallaTecnico"
                                placeholder="Falla Encontrada" autocomplete="off" th:value="${orden.fallaTecnico}">
                        </div>
                    </div>

                    <!-- Grupo: Fecha Inicio -->
                    <div class="formulario-grupo" id="grupo-nombre">
                        <label for="fechaInicio" class="formulario-label">Fecha Inicio Reparación</label>
                        <div class="formulario-grupo-input">
                            <input type="text" class="form-control" id="fecha" name="fechaInicio"
                                th:value="${orden.fechaInicio}" placeholder="Haz clic para seleccionar">
                            <!-- OBS: el id del input tiene que ser fecha para que tome el calendario -->
                        </div>
                    </div>

                    <!-- Grupo: Trabajo Realizado -->
                    <div class="formulario-grupo" id="grupo-nombre">
                        <label for="trabajoRealizado" class="formulario-label">Trabajo Realizado</label>
                        <div class="formulario-grupo-input">
                            <input type="text" class="formulario-input border" id="trabajoRealizado"
                                name="trabajoRealizado" placeholder="Falla Encontrada" autocomplete="off"
                                th:value="${orden.trabajoRealizado}">
                        </div>
                    </div>

                    <!-- Grupo: Fecha Finalización -->
                    <div class="formulario-grupo" id="grupo-nombre">
                        <label for="fechaFinalizacion" class="formulario-label">Fecha Finalización</label>
                        <div class="formulario-grupo-input">
                            <input type="text" class="formulario-input border" id="fecha" name="fechaFinalizacion"
                                th:value="${orden.fechaFinalizacion}" placeholder="Haz clic para seleccionar">
                            <!-- OBS: el id del input tiene que ser fecha para que tome el calendario -->
                        </div>
                    </div>

                    <!-- Grupo: Repuesto Utilizado -->
                    <div class="formulario-grupo" id="grupo-nombre">
                        <label for="repuestoUtilizado" class="formulario-label">Repuesto Utilizado</label>
                        <div class="formulario-grupo-input">
                            <input type="text" class="formulario-input border" id="repuestoUtilizado"
                                name="trabajoRealizado" placeholder="Falla Encontrada" autocomplete="off"
                                th:value="${orden.repuestoUtilizado}">
                        </div>
                    </div>

                    <!-- Grupo: Precio Mano de Obra -->
                    <div class="formulario-grupo" id="grupo-nombre">
                        <label for="precioManoObra" class="formulario-label">Precio Mano de Obra</label>
                        <div class="formulario-grupo-input">
                            <input type="text" class="formulario-input border" id="precioManoObra" name="precioManoObra"
                                placeholder="Precio Mano de Obra" autocomplete="off" th:value="${orden.precioManoObra}">
                        </div>
                    </div>

                    <!-- Grupo: Precio Repuesto -->
                    <div class="formulario-grupo" id="grupo-nombre">
                        <label for="precioRepuesto" class="formulario-label">Precio Repuesto</label>
                        <div class="formulario-grupo-input">
                            <input type="text" class="formulario-input border" id="precioRepuesto" name="precioRepuesto"
                                placeholder="Precio Repuesto" autocomplete="off" th:value="${orden.precioRepuesto}">
                        </div>
                    </div>
                   
                </div>
                <!-- Fin formulario -->
                <div class="col-sm-12 center mrt-30">
                    <a class="btn btn-secondary mr-30" th:href="@{/orden/ordenes}"><img class="w25"
                            th:src="@{/iconos/cancelar.png}" alt="cancelar"> Cancelar</a>
                    <button type="submit" class="btn btn-dark ml10"><img class="w25" th:src="@{/iconos/guardar.png}"
                            alt="guardar"> Guardar Cambios</button>
                </div>

            </form>
        </div>

    </main>


    <!-- Footer -->
    <div class="mrt-30" th:insert="~{recepcion/templateRecepcion.html::footer-recepcion}"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <!-- jQuery (opcional, solo si necesitas compatibilidad con otros plugins) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <!-- Flatpickr Spanish Language (opcional) -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script>







    <script th:src="@{/scripts/formulario.js}"></script>
</body>

</html>